.build {
  height: 170vh; // longer than viewport so it has scroll room
  background: #202020;
  color: white;
  padding: 64px 18px;

  .build-contents {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;

    h2 {
      font-size: 5rem;
      margin: 0;
      color: #ccc;
      font-family: ITC Avant Garde, sans-serif;
      font-weight: 900;
    }
  }
}
